@model TpW24_MelinaSofia.Models.Sujet

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Sujet</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @* Remplacement du CatID*@
            <input hidden asp-for="CatId" value="@ViewData["CatId"]"/>
       @*     <div class="form-group">
                <label asp-for="CatId" class="control-label"></label>
                <select asp-for="CatId" class ="form-control" asp-items="ViewBag.CatId"></select>
            </div>*@
            @*<div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Titre" class="control-label"></label>
                <input asp-for="Titre" class="form-control" />
                <span asp-validation-for="Titre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Texte" class="control-label"></label>
                <input asp-for="Texte" class="form-control" />
                <span asp-validation-for="Texte" class="text-danger"></span>
            </div>
          @*<div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>*@
         @* <input hidden asp-for="Vues" value="@ViewData["Vues"]"/>*@
     @*       <div class="form-group">
                <label asp-for="Vues" class="control-label"></label>
                <input asp-for="Vues" class="form-control" />
                <span asp-validation-for="Vues" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-id="@ViewData["CatId"]">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
